@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

.wrapper {
    padding: 30px 0 65px 0;
}

.conteiner {
    max-width: 702px;
    margin: 0 auto;
}


.text {
    font-family: 'Tenor Sans';

    font-size: 16px;
    line-height: 145%;
    text-align: justify;
}

.subheading {
    font-family: 'Fira Mono';

    font-size: 30px;
    line-height: 140%;
    text-align: center;
}

.page {}

.page__trip {
    margin-bottom: 29px;
}

.page__together {
    margin-bottom: 34px;
}




.trip {}

.trip__heading {
    font-family: 'Fira Mono';
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 11px;
}

.trip__text {}



.together {}

.together__subheading {
    margin-bottom: 9px;
}

.together__text {
    margin-bottom: 75px;
}

.together__wrap-image {


    max-width: 702px;
    max-height: 568px;
    margin: 0 auto;
}

.together__image {
    max-width: 100%;

    background: url(.png);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}