@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


body {
    font-family: 'Fira Mono', sans-serif;
}


.wrapper {
    padding: 30px 0 65px 0;
}


.conteiner {
    max-width: 702px;
    margin: 0 auto;
}


.text {
    font-family: 'Tenor Sans', sans-serif;

    font-size: 16px;
    line-height: 145%;
    text-align: justify;
}

.subheading {
    font-size: 30px;
    line-height: 140%;
    text-align: center;
}

.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #2C2C2C;
}


.page {}

.page__trip {
    margin-bottom: 29px;
}

.page__together {
    margin-bottom: 34px;
}

.page__variants {
    margin-bottom: 51px;
}

.page__road {
    margin-bottom: 81px;
}


.trip {}

.trip__heading {
    font-size: 38px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 11px;
}

.trip__text {}


.together {}

.together__subheading {
    margin-bottom: 9px;
}

.together__text {
    margin-bottom: 75px;
}

.together__wrap-image {
    text-align: center;

    margin: 0 auto;
}

.together__image {
    max-width: 100%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.variants {}

.variants__subheading {
    margin-bottom: 13px;
}

.variants__text {

    margin-bottom: 26px;
}

.variants__wrap-image {
    text-align: center;

    margin: 0 auto;
}

.variants__image {
    max-width: 100%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.road {}

.road__conteiner {
    max-width: 530px;

    margin: 0 auto;
}

.road__subheading {
    margin-bottom: 8.5px;
}

.road__text {
    text-align: left;
    color: #1D0639;

    margin-bottom: 48px;
}

.road__border {
    border: 1px solid rgba(73, 30, 128, 0.33);
    box-shadow: 4px 4px 15px rgba(73, 30, 128, 0.55);
    border-radius: 10px;

    max-width: 346px;
    margin: 0 auto;
    padding: 37px 42px 40px 40px;
}

.road__wrap-image {
    text-align: center;

    margin-bottom: 25px;
}

.road__image {
    max-width: 100%;
}

.road__title {
    margin-bottom: 25px;
}

.road__desc {
    line-height: 140%;
    text-align: center;
    color: #1D0639;
}


.footer {}

.footer__title {
    margin-bottom: 20px;
}

.footer__border {
    margin-right: 6px;
}

.footer__list {
    font-family: 'Noto Serif', sans-serif;

    font-size: 17px;
    line-height: 110%;

    max-width: 177px;
    margin: 0 auto;
}

.footer__link {
    text-decoration: underline;
    color: #5A9CFF;
}

.footer__link-green {
    text-decoration: underline;
    color: #3CC2A2;
}

.footer__item {
    margin-bottom: 18px;
}

.footer__item:last-child {
    margin-bottom: 0;
}